[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=env GTK_THEME=Adwaita:light firefox "%s"
Icon=env
Name=env
X-XFCE-Commands=env GTK_THEME=Adwaita:light firefox

